@font-face {
  font-family: 'Header';
  src: url('/src/header.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

:root{
  --main-banner-color: rgba(245, 122, 22, 0.9);
  --section-color: rgba(251, 255, 0, 0.75);
  --menu-link-color: rgba(248, 156, 17, 0.9);
  --alt-menu-link-color: rgb(255, 0, 0);
  --card-color: rgba(255, 217, 0, 0.75);
  --alt-card-color: rgba(224, 218, 181, 0.637);
  
}

body html{
  position: relative;
  min-height: 100%;
}

#content{
  background: url('../src/images/castleBG.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  min-height: 100%;
  left: 0; right: 0; top:0;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  position: absolute;
  top: 1rem; 
  left: 0; right: 0;
  height: 13rem;
  background-color: var(--main-banner-color);

}

ul {
  list-style: none;
}

li {
  display: inline;
  background-color: var(--menu-link-color);
  padding: 0.5rem;
  margin: 0.2rem;
}

li:hover, li.active {
  background-color: var(--alt-menu-link-color);
  padding: 0.7rem;
  cursor: pointer;
}

li a{
  text-decoration: none;
  color: black;
}

header h1{
  font-size: 5rem;
  font-family: 'Header';
}

section{
  padding: 5rem;
  background-color: var(--section-color);
  margin: 1rem;
  width: 50%;
  align-items: center;
  border-radius: 1rem;
  border: 5pt solid yellow;
  text-align: center;
  margin: 5rem;
  margin-bottom: 5rem;
}

section#menu{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;

  padding: 5rem;
  background-color: var(--section-color);
  margin: 1rem;
  width: 50%;
  align-items: center;
  border-radius: 1rem;
  border: 5pt solid var(--alt-menu-link-color);
  text-align: center;
  margin-top: 5rem;
}

section#contact{
  padding: 5rem;
  background-color: var(--section-color);
  margin: 1rem;
  width: 50%;
  align-items: center;
  border-radius: 1rem;
  border: 5pt solid black;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

header{
  text-align: center;
  margin-bottom: 10rem; 
}

#bowser{
  height: 150px;
}

footer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: var(--main-banner-color);
  bottom: 0; left: 0; right: 0;
  padding: 1rem;
}

#bowserImage{
  height: 150px;
}

/* menu cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  /* max-height: 100px; */
  margin: 1rem;
  padding: 1rem;
  background-color: var(--card-color);
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: var(--alt-card-color);
}

.container {
  padding: 2px 16px;
}